# Файл: .env

# === FastAPI & Auth ===
SECRET_KEY=
ALGORITHM=HS256
ADMIN_USERNAME=admin
ADMIN_PASSWORD=

# === PostgreSQL ===
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

# === SMTP Email ===
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=

# === TiMe (Парсинг студентов) ===
TIME_TEAM_ID=
TIME_COOKIE=
TIME_CSRF=